@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div_logo{
    background-color: blue;
    height: 440px;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
}
.div_logo h1{
    padding-right: 0px;
    font-family: "heavy";
    width: 1900px;
    height: 75%;
    font-size: 100px;
    display: flex;
    /* background-color: aqua; */
}
.div_logo p{
    margin-top: 50px;
    margin-right: 300px;
    font-family: "heavy";
    width: 80%;
    height: 75%;
    font-size: 30px;
    /* background-color: purple; */
}
.div_logo button{
    font-family: "heavy";
    color: aliceblue;
    background-color: #252525;
    border-radius: 15px;
    position: absolute;    
    top: 250px;
    right: 825px;
    /* background-color: red; */
    height: 50px;
    width: 140px;

}
main{

}
.div_img{
    margin-bottom: 50px;
    background-color: bisque;
}